@import "vars";
@import "mixin";

body {
  font-family: "Lato", "Noto Sans KR", sans-serif;
  font-size: $font-normal;
  color: $font-color;
}
a {
  color: inherit;
  text-decoration: none !important;
}
* {
  box-sizing: border-box;
}
button {
  border: none;
}
label {
  margin-bottom: 0rem;
}
#header {
  position: relative;
  height: 90px;
  background-color: #111;
  #logo {
    position: relative;
    z-index: 10;
    font-size: 0rem;
    color: #fff;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 135px;
    }
  }
  ul {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
    li {
      display: inline-block;
      &:nth-child(1) {
        margin-right: 70px;
      }
      a {
        position: relative;
        img {
          position: absolute;
          margin-left: 10px;
        }
      }
    }
  }
}
#main {
  .contents {
    width: 100%;
    margin: auto;
    .title {
      display: flex;
      justify-content: center;
      margin: 50px 0 30px 0;

      h2 {
        font-size: 20px;
        font-weight: 600;
        font-family: "Lato";
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          background-color: #111;
          height: 2px;
          left: 0;
          bottom: -6px;
        }
      }
    }
    .write {
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        width: 120px;
        height: 50px;
        background-color: #111;
        color: #fff;
        font-size: 15px;
      }
    }
    .list {
      max-width: 1380px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        cursor: pointer;
        margin: 20px 20px;
        a {
          // pointer-events: none;
          .inner {
            position: relative;
            .img {
              img {
                width: clamp(320px, 22vw, 420px);
                height: 320px;
                //     object-fit: cover;
                background: contain;
                background: cover;
                border-radius: 10px;
              }
            }
            .txt {
              opacity: 0;
              color: #fff;
              z-index: 2;
              width: clamp(320px, 22vw, 420px);
              height: 320px;
              position: absolute;
              padding: 30px 30px;
              top: 0;
              left: 0;
              transition: all 0.5s;
              .date {
                position: absolute;
                left: 30px;
                bottom: 30px;
              }
              .sub {
                color: #fff;
                font-size: 15px;
                line-height: 1.5;
                height: 5.7em;
                overflow: hidden;

                p {
                  width: clamp(260px, 19vw, 420px);
                  color: #fff;
                  margin-bottom: 0rem !important;
                  text-overflow: ellipsis !important;

                  span {
                    text-overflow: ellipsis !important;
                    color: #fff !important;
                    font-family: "Noto Sans KR" !important;
                    font-size: 15px !important;
                    line-height: 1.5 !important;
                  }
                }
              }
              .date {
                font-size: 15px;
                font-family: "Lato";
              }
              .point {
                font-size: 15px;
                font-weight: 300;
                position: absolute;
                right: 30px;
                bottom: 30px;
              }
            }
          }
          .listTitle {
            width: clamp(320px, 20vw, 420px);
            font-size: 16px;
            font-weight: 600;
            margin-top: 10px;
          }
        }
        &:nth-child(3n) {
          // padding: 50px 0 40px 0;
        }
        :nth-child(2n-1) {
        }
      }
    }
  }
  .popup {
    display: none;

    .popupList {
      width: 100%;
      height: 100vh;
      display: flex;

      z-index: 2;
      top: 0;
      left: 0;
      position: fixed;
      li {
        display: inline-block;
        display: block;
        overflow: hidden;
        border-radius: 30px;
        margin: auto;
        width: 660px;
        background: #fff;

        .inner {
          position: relative;
          .closeBtn {
            z-index: 2;
            position: absolute;
            top: 30px;
            right: 30px;
          }
          z-index: 2;
          // pointer-events: none;
          .popupImg {
            img {
              width: 660px;
              height: 400px;
              background: contain;
              background: cover;
            }
          }
          .popupTxt {
            position: relative;
            padding: 50px 60px 0px 60px;
            .text {
              h2 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 20px;
              }
            }
            .desc {
              p {
                margin-bottom: 0rem;
                span {
                  color: #111 !important;
                  font-family: "Noto Sans KR" !important;
                  font-size: 15px !important;
                  line-height: 1.5 !important;
                }
              }
            }
          }
        }
        .btns {
          z-index: 2;

          width: 100%;
          padding: 40px 60px 50px 60px;
          display: flex;
          justify-content: space-between;

          button,
          a {
            color: #fff;
            width: 255px;
            height: 50px;
            border-radius: 30px;
            background: #111;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &::after {
          left: 0;
          z-index: -10;
          top: 0;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  .popupModify {
    display: none;

    .popupEdit {
      z-index: 2;
      top: 0;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      .popupBox {
        border-radius: 30px;
        position: relative;
        width: 660px;
        background: #fff;
        padding-top: 35px;
        .offBtn {
          z-index: 2;
          position: absolute;
          top: 30px;
          right: 30px;
        }
        .off {
          position: absolute;
          right: 30px;
          top: 30px;
        }
        .inputBox {
          padding: 0px 60px;
          label {
            span {
              margin-top: 15px;
            }
            width: 100%;
            .label {
              width: 100%;
              font-size: 16px;
              font-weight: 500;
              display: block;
            }
            input {
              border-radius: 10px;
              border-color: #ddd;
              margin-top: 10px;
              width: 100%;
              height: 50px;
              padding-left: 10px;
              &::placeholder {
                font-size: 14px;
              }
            }
            .note-editor {
              height: 200px;
              margin-top: 10px;
            }
          }
          #image {
            padding-left: 0px;
          }
        }

        .btns {
          padding: 10px 0 60px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            color: #fff;
            width: 255px;
            height: 50px;
            border-radius: 30px;
            background: #111;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  #main {
    .contents {
      .list {
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        li {
          display: inline-block;
          &:nth-child(3n) {
            // padding: 50px 40px 40px 0;
          }
        }
      }
    }
  }
}
@media all and (min-width: 1320px) {
  #main {
    .contents {
      .list {
        li {
          a {
            .inner {
              .txt {
                &:hover {
                  opacity: 1;
                  &::after {
                    border-radius: 10px;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: clamp(320px, 22vw, 420px);
                    height: 100%;
                    content: "";
                    background-color: #111;
                    opacity: 0.5;
                    position: absolute;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and(max-width:720px) {
  #header {
    #logo {
      a {
        img {
          width: 110px;
        }
      }
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      right: 0;
      li {
        a {
          img {
            display: none;
          }
        }
        &:nth-child(1) {
          margin-right: 0;
          margin-left: clamp(30px, 3vw, 60px);
          font-size: 15px;
        }
        &:nth-child(2) {
          position: absolute;
          right: clamp(30px, 5vw, 60px);
          font-size: 15px;
        }
      }
    }
  }
  #main {
    .popup {
      .popupList {
        // position: absolute;

        height: 100%;
        li {
          // margin: 15px 15px;
          width: clamp(330px, 90vw, 660px);
          .inner {
            .popupTxt {
              padding: 30px 30px 0px 30px;
              .desc {
                height: 6em;
                overflow: hidden;
              }
            }
            .popupImg {
              img {
                width: clamp(330px, 90vw, 660px);
                height: clamp(280px, 78vw, 400px);
                background-size: auto;
              }
            }
          }
          .btns {
            padding: 30px;
            button {
              width: clamp(130px, 35vw, 255px);
            }
          }
        }
      }
    }
    .contents {
      .list {
        li {
          a {
            .listTitle {
            }
          }
        }
      }
    }
  }
}
