@import "vars";
@import "mixin";

body {
  font-family: "Lato", "Noto Sans KR", sans-serif;
  font-size: $font-normal;
  color: $font-color;
  // &.on {
  //   overflow-y: hidden;
  // }
}
a {
  color: inherit;
  text-decoration: none !important;
}
* {
  box-sizing: border-box;
}
button {
  border: none;
}

.wrap {
  .main {
    width: 100%;
    height: 100vh;
    background: url("/images/bg.png") no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      margin-right: 300px;
      color: #fff;
      p {
        padding-top: 18px;
      }
    }
    .logScreen {
      // width: 460px;
      width: clamp(300px, 80%, 460px);
      // height: 500px;
      background-color: #fff;
      border-radius: 30px;
      .login {
        // padding: 60px 60px;
        padding: clamp(30px, 10vw, 60px);
        .title {
          font-size: clamp(22px, 4vw, 30px);
          font-weight: 600;
        }
        .join {
          margin-top: 20px;
          display: flex;
          color: #999;
          font-weight: 300;
          align-items: center;
          p {
          }
          a {
            padding-left: 10px;
            span {
              color: #0d82eb;
            }
            &:hover {
              text-decoration: underline;
              text-decoration-color: #0d82eb;
            }
          }
        }
        .formBox {
          margin-top: 30px;
          .inputBox {
            label {
              display: flex;

              flex-direction: column;
              .label {
                color: #999;
                font-size: 14px;
              }

              input[type="text"],
              input[type="password"] {
                margin-top: 12px;
                height: 54px;
                border: 1px solid #ddd;
                border-radius: 30px;
                padding: 15px;
                &::placeholder {
                  font-family: "Noto Sans KR";
                  font-weight: 300;
                  color: #999;
                  font-size: 12px;
                }
              }
              #userID,
              #userPW {
                flex-grow: 1;
              }
            }
            &:nth-child(2) {
              margin-top: 20px;
            }
          }
        }
        .btns {
          width: 100%;
          margin-top: clamp(30px, 3vw, 50px);
          display: flex;
          justify-content: center;
          background-color: #111;
          height: 50px;
          border-radius: 30px;
          button,
          a {
            border-radius: 30px;
            font-family: "Noto Sans KR";
            width: 100%;
            font-size: 16px;
            background-color: #111;
            color: #fff;
            transition: all 0.5s;
            &:hover {
              background: #0d82eb;
              border: none;
            }
          }
        }
        &.on {
          display: none;
        }
      }
      .sign {
        position: relative;
        display: none;
        padding: clamp(30px, 10vw, 60px);
        .close {
          position: absolute;
          top: 30px;
          right: clamp(30px, 3vw, 60px);
        }
        .formBox {
          .inputBox {
            label {
              display: flex;
              width: 100%;
              flex-direction: column;
              .label {
                color: #999;
                font-size: 14px;
              }
              .w80 {
                height: 50px;
                margin-top: 12px;
                justify-content: center;
                display: flex;
                input {
                  margin-top: 0 !important;
                }
                button {
                  box-sizing: border-box;
                  padding: 0 10px;
                  margin-left: 10px;
                  height: 54px;
                  background-color: #111;
                  color: #fff;
                  border-radius: 30px;
                  font-size: 13px;
                  transition: all 0.5s;
                  &:hover {
                    background: #0d82eb;
                    border: none;
                  }
                }
              }
              input[type="text"],
              input[type="password"] {
                margin-top: 12px;
                height: 54px;
                border: 1px solid #ddd;
                border-radius: 30px;
                padding: 15px;
                &::placeholder {
                  font-family: "Noto Sans KR";
                  font-weight: 300;
                  color: #999;
                  font-size: 12px;
                }
              }
              #userID,
              #userPW {
                flex-grow: 1;
              }
            }
            &:nth-child(2),
            &:nth-child(3) {
              margin-top: 20px;
            }
          }
          .btns {
            width: 100%;
            margin-top: clamp(30px, 4vw, 50px);
            display: flex;
            justify-content: center;
            background-color: #111;
            height: 50px;
            border-radius: 30px;
            button,
            a {
              border-radius: 30px;
              font-family: "Noto Sans KR";
              width: 100%;
              font-size: 16px;
              background-color: #111;
              color: #fff;
              transition: all 0.5s;
              &:hover {
                background: #0d82eb;
              }
            }
          }
        }
        &.on {
          display: block;
        }
      }
    }
  }
}
#main {
  .title {
    display: flex;
    justify-content: center;
    margin: 50px 0 clamp(0px, 2vw, 50px) 0;

    h2 {
      font-size: 20px !important;
      font-family: "Lato";
      font-weight: 600;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        background-color: #111;
        height: 2px;
        left: 0;
        bottom: -6px;
      }
    }
  }
  #contents {
    max-width: 1380px;
    margin: auto;
    padding: 0 30px;
    h2 {
      font-size: 20px !important;
      font-family: "Lato";
      font-weight: 600;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        background-color: #111;
        height: 2px;
        left: 0;
        bottom: -6px;
      }
    }
    .formBox {
      .inputBox {
        padding-top: 20px;
        label {
          display: flex;

          margin-bottom: 0;
          flex-direction: column;
          .label {
            width: 150px;
          }
          input[type="text"],
          input[type="password"],
          input[type="number"],
          select {
            height: 50px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
            margin-top: 10px;
          }

          textarea {
            flex-grow: 1;
            height: 300px;
            resize: none;
            border-radius: 5px;
            padding: 10px;
            border: 1px solid #ccc;
          }
          #title,
          #date,
          #desc {
            flex-grow: 1;
          }
          .note-frame {
            width: 100%;
          }
          #userJob {
            width: 200px;
          }
          .genreList {
            display: flex;
            li {
              margin-right: 20px;
            }
          }
        }
      }
    }
    .table {
      display: table;
      width: 100%;
      table-layout: fixed;
      .head {
        display: table-header-group;
        background-color: #ddd;
        span {
          display: table-cell;
          border-top: 1px solid #333;
          text-align: center;
          padding: 20px 0;
          font-weight: 700;
        }
      }
      .body {
        display: table-row-group;
        width: 100%;
        > li {
          display: table-row;
          width: 100%;
          .column {
            display: table-cell;
            padding: 20px 0;
            text-align: center;
            border-bottom: 1px solid #d9d9d9;
            vertical-align: middle;
          }
          .subject {
            text-align: left;
            &:hover {
              text-decoration: underline;
              color: rgb(3, 120, 199);
            }
          }
        }
      }
    }

    .btns {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      button,
      a {
        font-family: "Noto Sans KR";
        display: flex;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        height: 50px;
        padding: 0 20px;
        background-color: #111;
        color: #fff;
        margin: 0 5px;
        border-radius: 5px;
      }
    }
  }
}
@media all and (max-width: 1320px) {
  .wrap {
    .main {
      flex-direction: column;
      #contents {
        width: 100%;
        padding: 0 20px;
      }
      .text {
        margin: 0 auto;
        padding-bottom: 40px;
        // position: absolute;
        // top: 80px;
        // left: 50%;
        // transform: translateX(-50%);
        p {
          text-align: center;
        }
      }
    }
  }
}
@media all and(max-width:720px) {
  .wrap {
    .main {
      .logScreen {
        .sign {
          .formBox {
            .inputBox {
              label {
                .w80 {
                  button {
                    font-size: 11px;
                  }
                }
                #userID {
                  flex-grow: none;
                  width: 80%;
                }
              }
            }
          }
        }
      }
    }
  }
}
