<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="main">
        <div class="text">
          <h1 id="logo"><img src="/images/logo.png" /></h1>
          <p>로그인 또는 계정 만들기</p>
        </div>
        <div class="logScreen">
          <div class="login">
            <h2 class="title"><%= title %></h2>
            <div class="join">
              <p>신규 사용자이신가요?</p>
              <a href="">
                <span>계정만들기</span>
              </a>
            </div>
            <form action="/login" method="POST" class="formBox">
              <div class="inputBox">
                <label>
                  <span class="label">아이디</span>
                  <input type="text" id="userID" name="userID" placeholder="아이디를 입력하세요." />
                </label>
              </div>
              <div class="inputBox">
                <label>
                  <span class="label">비밀번호</span>
                  <input type="password" id="userPW" name="userPW" placeholder="패스워드를 입력하세요." />
                </label>
              </div>
              <div class="btns">
                <button type="submit">로그인</button>
              </div>
            </form>
          </div>
          <div class="logout">
            <a href=""><img src="../public/images/" alt=""></a>
            <form action="/register" method="POST" id="join" class="formBox">
              <div class="inputBox">
                <label>
                  <span class="label">ID</span>
                  <div class="w80">
                    <input type="text" id="userID" name="userID" placeholder="ID를 입력하세요." />
                    <button id="btnIdCheck">아이디 중복확인</button>
                  </div>
                </label>
              </div>
              <div class="inputBox">
                <label>
                  <span class="label">password</span>
                  <input type="password" id="userPW" name="userID" placeholder="password를 입력하세요." />
                </label>
              </div>
              <div class="inputBox">
                <label>
                  <span class="label">Name</span>
                  <input type="password" id="userName" name="userName" placeholder="이름을 입력하세요." />
                </label>
              </div>
              <div class="btns">
                <button type="submit">로그아웃</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const login = document.querySelector(".login");
    const logout = document.querySelector(".logout");
    login.addEventListener("click", (e) => {
      e.preventDefault();
      login.classList.add("on");
      logout.classList.add("on");
    });
  </script>
</html>
