<%- include("include/header"); %>
<header id="header">
  <h1 id="logo"><img src="/images/logo.png" alt="" /></h1>
  <ul>
    <li>
      <a href="">마이페이지<img src="../public/images/user.png" alt="" /></a>
    </li>
    <li>
      <a href="">로그아웃<img src="../public/images/logout.png" alt="" /></a>
    </li>
  </ul>
</header>
<main id="main">
  <div class="contents">
    <h2 class="title"><%= title %></h2>
    <ul class="list">
      <li>
        <a href="">
          <h3 class="listTitle">광화문 광장</h3>
          <div class="img"><img src="/images/list01.png" alt="" /></div>
          <div class="txt">
            <p class="sub">경복궁의 남쪽에 있는 정문이다. '임금의 큰 덕(德)이 온 나라를 비춘다'는 의미이다. ...</p>
            <p class="date"></p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</main>
