<%- include("include/header"); %>
<main id="main">
  <div class="title">
    <h2><%= title %></h2>
  </div>
  <div id="contents">
    <form action="/library" method="POST" id="join" class="formBox" enctype="multipart/form-data">
      <div class="inputBox">
        <label>
          <span class="label">제목</span>
          <input type="text" id="title" name="title" placeholder="제목을 입력하세요" />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">날짜</span>
          <input type="text" id="date" name="date" placeholder="날짜" />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">내용</span>
          <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">평점</span>
          <input type="number" max="5" min="0" step="0.1" id="point" name="point" />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">대표이미지</span>
          <input type="file" name="image" id="image" />
        </label>
      </div>
      <div class="btns">
        <button type="submit" id="btnJoin">확인</button>
        <button type="reset">취소</button>
      </div>
    </form>
  </div>
</main>
<script>
  const date = document.querySelector("#date");
  const picker = new Lightpick({ field: date, format: "YYYY-MM-DD" });
  $("#desc").summernote({
    height: 400,
    callbacks: {
      onImageUpload: function (files) {
        sendImageCloudinary(files[0], this);
      },
    },
  });
  function sendImageCloudinary(file, editor) {
    const sendImgData = new FormData();
    sendImgData.append("summerNoteImg", file);
    $.ajax({
      url: "/summerNoteInsertImg",
      data: sendImgData,
      method: "POST",
      contentType: false,
      processData: false,
      enctype: "multipart/form-data",
      cache: false,
    }).done((response) => {
      $(editor).summernote("editor.insertImage", response.cloudinaryImgSrc);
    });
  }
</script>
